page-signup {
    .content {
        position: relative;
    }

    .btn-container {
        min-height: 20%;
        width: 100%;
        margin-top: 12em;
    }

    .title{
        margin-top: 30px;
        text-align: center;
    }

    button {
        left: 0;
    }
}
