page-signup {
    .content {
        position: relative;
    }

    .btn-container {
        min-height: 20%;
        width: 100%;
        margin-top: 13.25em;
    }

    .title {
        margin-top: 30px;
        text-align: center;
    }

    .center-btn {
        margin: auto;
    }

    button {
        left: 0;
    }
}
